[submodule "saltstack-states"]
	path = states
	url = https://github.com/strangedev/salt-states.git
[submodule "saltstack-data-examples"]
	path = data
	url = https://github.com/strangedev/salt-data.git
[submodule "saltstack-pillar-examples"]
	path = pillars
	url = https://github.com/strangedev/salt-pillars.git
